.zoom_area {
  max-width: 500px;
  width: 100%;
}

.cursor {
  position: absolute;
  cursor: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-size: 2000%;
  background-repeat: no-repeat;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 0.5);
  box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 0.5);
}
