.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem;
  text-align: center;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
