.zoom_area {
  padding: 24px;
  max-width: 500px;
}

.zoom_area:hover {
  cursor: none;
}

.image {
  pointer-events: none;
}

.cursor {
  position: absolute;
  display: none;
  pointer-events: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* -webkit-transition: all 0.15s;
  transition: all 0.15s; */
  background-size: 2000%;
  background-repeat: no-repeat;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 0.5);
  box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 0.5);
}

.zoom_area:hover .cursor {
  display: unset;
}
